doctype 5
html
  head
    link(rel='stylesheet', type='text/css', href='/application.css')
    style
      body {
        padding-top: 20px;
      }
      .grid-pad {
        padding: 0 40px 40px;
      }
      .recommend h2 {
        margin-bottom: 1em;
      }
      .recommend .post {
        padding-top: 1.2em;
        padding-bottom: .8em;
      }
      .recommend .post a {
        text-overflow: ellipsis;
        display: block;
        white-space: nowrap;
        display: block;
        overflow: hidden;
      }
      .recommend .preview {
        padding: .5em;
        height: 15em;
        background-color: rgba(51, 51, 51, 0.6);
        border-radius: 3px;
      }
      .recommend .preview, .recommend .preview a {
        color: #fff;
        font-famiry: Arial,'ＭＳ Ｐゴシック',sans-serif;
        text-shadow: 1px 1px 3px #000;
      }
      .recommend .preview .title a {
        font-weight: bold;
      }
      .recommend .preview .title {
        margin: 5px 0 10px;
      }
      .recommend .preview p {
        line-height: 1.5em;
      }
    script(type='text/javascript', src='/application.js')
    script(type='text/javascript')
      ;(function() {
        var $ = require('component-jquery');

        $(function() {
          var app = require('blog-portal');

          new app.RecommendView({
            el: '#container',
            id: '509886ab91e094a3b2c697ac'
          });
        });
      }());
  body
    #container
